@import '../../responsive.scss';

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--texts);

  @include md {
    margin-top: 50px;
  }

  .footer-right {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
